@page "/manage/login"
@inject ApiClient API
@inject IdentityContainer ID
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<div id="main-wrapper">
    <div class="main section" id="main">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                <h4>Login</h4>
                <p>
                    <input id="textbox-username" bind="@username" class="textbox" placeholder="Username" type="text" />
                </p>
                <p>
                    <input id="textbox-password" bind="@password" class="textbox" placeholder="Password" type="password" />
                </p>
                <p>
                    <input id="button-login" onclick="@SetIdentityAsync" class="button" value="Login" type="button" />
                </p>
            </div>
        </div>
    </div>
</div>


@functions
{
    string username;
    string password;

    protected override Task OnInitAsync()
    {
        if (ID.IsAuthenticated)
        {
            UriHelper.NavigateTo("/");
        }

        return Task.FromResult(true);
    }

    private async Task SetIdentityAsync()
    {
        if (await ID.SetIdentityAsync(username, password))
        {
            UriHelper.NavigateTo("/");
        }
    }
}