@page "/post/{id}"
@inject IJSRuntime JsRuntime;
@inject ApiClient API

<div id="main-wrapper">
    <div class="main section" id="main">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                @if (post != null)
                {
                    <PostMainBody PostModel="@post" />
                }
            </div>

            <div class="comments" id="comments">
                <a name="comments"></a>
                <h4> @count comments: </h4>
                <div class="comments-content">
                    <div id="comment-holder">
                        <div class="comment-thread toplevel-thread">
                            <ol id="top-ra">
                                <li class="comment" id="c480047196575346071">
                                    <div class="avatar-image-container">
                                        <img src="//lh3.googleusercontent.com/zFdxGE77vvD2w5xHy6jkVuElKv-U9_9qLkRYK8OnbDeJPtjSZ82UPq5w6hJ-SA=s35" alt="" />
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-header">
                                            <cite class="user"><a href="https://www.blogger.com/profile/16503467579642737367" rel="nofollow">lae</a></cite>
                                            <span class="icon user "></span>
                                            <span class="datetime secondary-text"><a rel="nofollow" href="http://buzzmagtheme.blogspot.com/2015/03/teamwork-is-best-thing-for-business.html?showComment=1427557892597#c480047196575346071">28 March 2015 at 08:51</a></span>
                                        </div>
                                        <p class="comment-content"><a href="http://streamy88.com/" title="film streaming" rel="nofollow">film streaming</a></p>
                                        <span class="comment-actions secondary-text"><a class="comment-reply" target="_self" data-comment-id="480047196575346071" href="javascript:;">Reply</a><span class="item-control blog-admin blog-admin pid-1695176509"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=6638523622898744294&amp;postID=480047196575346071">Delete</a></span></span>
                                    </div>
                                    <div class="comment-replies">
                                        <div id="c480047196575346071-rt" class="comment-thread inline-thread">
                                            <span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count">Replies</span></span>
                                            <ol id="c480047196575346071-ra" class="thread-chrome thread-expanded">
                                                <div>
                                                    <li class="comment" id="c8486335225141973990">
                                                        <div class="avatar-image-container">
                                                            <img src="//lh5.googleusercontent.com/-BWVuPao3EWU/AAAAAAAAAAI/AAAAAAAAAKg/G9_65mkP9Gs/s35-c/photo.jpg" alt="" />
                                                        </div>
                                                        <div class="comment-block">
                                                            <div class="comment-header">
                                                                <cite class="user"><a href="https://www.blogger.com/profile/05721230291647210737" rel="nofollow">Basem Gamal</a></cite>
                                                                <span class="icon user "></span>
                                                                <span class="datetime secondary-text"><a rel="nofollow" href="http://buzzmagtheme.blogspot.com/2015/03/teamwork-is-best-thing-for-business.html?showComment=1428215954528#c8486335225141973990">4 April 2015 at 23:39</a></span>
                                                            </div>
                                                            <p class="comment-content">Wow Gear Template<br />http://software-wd.blogspot.com</p>
                                                            <span class="comment-actions secondary-text"><span class="item-control blog-admin blog-admin pid-693046335"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=6638523622898744294&amp;postID=8486335225141973990">Delete</a></span></span>
                                                        </div>
                                                        <div class="comment-replies">
                                                            <div id="c8486335225141973990-rt" class="comment-thread inline-thread hidden">
                                                                <span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count"><a target="_self" href="javascript:;">Replies</a></span></span>
                                                                <ol id="c8486335225141973990-ra" class="thread-chrome thread-expanded">
                                                                    <div></div>
                                                                    <div id="c8486335225141973990-continue" class="continue">
                                                                        <a class="comment-reply" target="_self" data-comment-id="8486335225141973990" href="javascript:;">Reply</a>
                                                                    </div>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <div class="comment-replybox-single" id="c8486335225141973990-ce"></div>
                                                    </li>
                                                    <li class="comment" id="c6090039207300392293">
                                                        <div class="avatar-image-container">
                                                            <img src="//lh3.googleusercontent.com/zFdxGE77vvD2w5xHy6jkVuElKv-U9_9qLkRYK8OnbDeJPtjSZ82UPq5w6hJ-SA=s35" alt="" />
                                                        </div>
                                                        <div class="comment-block">
                                                            <div class="comment-header">
                                                                <cite class="user"><a href="https://www.blogger.com/profile/07474224916009440655" rel="nofollow">Ahmed Khan</a></cite>
                                                                <span class="icon user "></span>
                                                                <span class="datetime secondary-text"><a rel="nofollow" href="http://buzzmagtheme.blogspot.com/2015/03/teamwork-is-best-thing-for-business.html?showComment=1454442376209#c6090039207300392293">2 February 2016 at 11:46</a></span>
                                                            </div>
                                                            <p class="comment-content"><a href="http://www.icct20worldcup2016schedules.com/" rel="nofollow" title="ICC T20 World Cup 2016 Schedule">ICC T20 World Cup 2016 Schedule</a></p>
                                                            <span class="comment-actions secondary-text"><span class="item-control blog-admin blog-admin pid-369599283"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=6638523622898744294&amp;postID=6090039207300392293">Delete</a></span></span>
                                                        </div>
                                                        <div class="comment-replies">
                                                            <div id="c6090039207300392293-rt" class="comment-thread inline-thread hidden">
                                                                <span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count"><a target="_self" href="javascript:;">Replies</a></span></span>
                                                                <ol id="c6090039207300392293-ra" class="thread-chrome thread-expanded">
                                                                    <div></div>
                                                                    <div id="c6090039207300392293-continue" class="continue">
                                                                        <a class="comment-reply" target="_self" data-comment-id="6090039207300392293" href="javascript:;">Reply</a>
                                                                    </div>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <div class="comment-replybox-single" id="c6090039207300392293-ce"></div>
                                                    </li>
                                                    <li class="comment" id="c858908251285975149">
                                                        <div class="avatar-image-container">
                                                            <img src="//3.bp.blogspot.com/-BpUXhCPbWj8/VQ6GaOm2ftI/AAAAAAAAAJA/TxJWIOQg3g4/s35/WP_20150304_006p.jpg" alt="" />
                                                        </div>
                                                        <div class="comment-block">
                                                            <div class="comment-header">
                                                                <cite class="user"><a href="https://www.blogger.com/profile/15295714159575479856" rel="nofollow">Ilham Amirullah</a></cite>
                                                                <span class="icon user "></span>
                                                                <span class="datetime secondary-text"><a rel="nofollow" href="http://buzzmagtheme.blogspot.com/2015/03/teamwork-is-best-thing-for-business.html?showComment=1531813838207#c858908251285975149">17 July 2018 at 00:50</a></span>
                                                            </div>
                                                            <p class="comment-content">hmmm</p>
                                                            <span class="comment-actions secondary-text"><span class="item-control blog-admin blog-admin pid-859118989"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=6638523622898744294&amp;postID=858908251285975149">Delete</a></span></span>
                                                        </div>
                                                        <div class="comment-replies">
                                                            <div id="c858908251285975149-rt" class="comment-thread inline-thread hidden">
                                                                <span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count"><a target="_self" href="javascript:;">Replies</a></span></span>
                                                                <ol id="c858908251285975149-ra" class="thread-chrome thread-expanded">
                                                                    <div></div>
                                                                    <div id="c858908251285975149-continue" class="continue">
                                                                        <a class="comment-reply" target="_self" data-comment-id="858908251285975149" href="javascript:;">Reply</a>
                                                                    </div>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <div class="comment-replybox-single" id="c858908251285975149-ce"></div>
                                                    </li>
                                                </div>
                                                <div id="c480047196575346071-continue" class="continue">
                                                    <a class="comment-reply" target="_self" data-comment-id="480047196575346071" href="javascript:;">Reply</a>
                                                </div>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="comment-replybox-single" id="c480047196575346071-ce"></div>
                                </li>
                            </ol>
                            <div id="top-continue" class="continue">
                                <a class="comment-reply" target="_self" href="javascript:;">Add comment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="comment-footer"> </p>
                <div class="comment-form">
                    <a name="comment-form"></a>
                    <p> </p>
                    <a href="https://www.blogger.com/comment-iframe.g?blogID=6638523622898744294&amp;postID=7132000124497114716&amp;blogspotRpcToken=9065075" id="comment-editor-src"></a>
                </div>
            </div>
        </div>
    </div>
</div>


@functions
{
    int count = 0;
    PostViewModel post;
    IEnumerable<CommentViewModel> comments;

    [Parameter] string id { get; set; }

    protected override async Task OnInitAsync()
    {
        post = await API.GetPostAsync(id);
        comments = await API.GetCommentsAsync(post.Id);
        count = CountComment(comments);
    }

    protected async Task<string> SanitizeAsync(string src)
    {
        return await JsRuntime.InvokeAsync<string>("filterXSS", src);
    }

    private int CountComment(IEnumerable<CommentViewModel> src, bool isSecondLevel = false)
    {
        if (src == null)
        {
            return 0;
        }
        if (isSecondLevel)
        {
            return src.Count();
        }
        return src.Count() + src.Select(x => CountComment(x.InnerComments, true)).Sum();
    }
}