pre {
    background: #0e2632;
    border: 1px solid #3e515b;
    border-radius: 5px;
    color: #FFF;
    font-family: "YaHei Consolas Hybrid","Consolas","Lucida Consolas","Courier New","宋体";
    font-size: 12px;
    line-height: 120%;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hljs {
    display: block;
}

.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.nginx .hljs-title {
    color: #eee;
}

.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute {
    color: #ffccaf;
}

.smartquote,
.hljs-comment,
.hljs-annotation,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
    color: #dbdbdb;
}

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
    color: #9bff9b;
}

.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
    color: #cfcfff;
}

.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.css .hljs-tag,
.hljs-javadoctag,
.hljs-phpdoc,
.hljs-dartdoc,
.hljs-yardoctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.hljs-type,
.hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status {
    font-weight: normal;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
    font-style: italic;
}

.nginx .hljs-built_in {
    font-weight: normal;
}

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
    opacity: 0.5;
}

.hljs-keyword {
    color: #97d3ff;
}

.hljs-string {
    color: #ffc2ba;
}

.highlight {
    position: relative;
    background: rgb(248,245,236);
    position: relative;
    margin-bottom: 14px;
    border: none;
    border-radius: 0;
    overflow: auto;
    padding: 30px 14px 14px;
}

    .highlight:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: 12px;
        font-weight: 700;
        color: #c2c0bc;
        background-color: #f1ede4 !important;
        content: "Code";
        padding: 3px 7px;
    }

pre, code {
    font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace;
    position: relative;
    z-index: 0;
    font-size: 13px;
    line-height: 1.5;
    word-wrap: initial !important;
}

.hll {
    background-color: #f7ebc6;
    border-left: 5px solid #f7d87c;
    display: block;
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 9px;
    position: relative;
    z-index: 0;
}