@inherits LayoutComponentBase

<div id='margin-1200'>
    <NavMenu />

    <div id='nav-trigger'><span><i class='fa fa-list'></i></span></div>
    <nav id='nav-mobile'></nav>
    <div style='clear:both;'></div>

    <div id='content-wrapper'>
        <Sidebar />
        @Body
    </div>
    <!-- end content-wrapper -->
    <div style='clear:both;'></div>
    <SearchBar />
</div>
<div id='slideshow'>
    <img alt='biz.' class='active' src='img/thebackground.png' />
</div>