@inject HttpClient Http

<div id='header-wrapper'>
    <div class='header section' id='header'>
        <div class='widget Header' data-version='1' id='Header1'>
            <div id='header-inner'>
                <div class='titlewrapper'>
                    <h1 class='title'>
                        <a href='/'>@title<span class='dot'>.</span></a>
                    </h1>
                </div>
                <div class='descriptionwrapper'>
                    <p class='description'><span>@subtitle</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--Main Menu-->
    <div class='menu-secondary-container'>
        <ul class='menus menu-secondary'>
            <li><a href='http://buzzmagtheme.blogspot.com/'>Home</a></li>
            <li><a href='#'>Business</a></li>
            <li><a href='#'>Downloads</a></li>
            <li>
                <a href='#'>Parent Category <i class='fa fa-angle-down'></i></a>
                <ul class='children'>
                    <li><a href='#'>Child Category 2</a></li>
                    <li><a href='#'>Child Category 3</a></li>
                    <li><a href='#'>Child Category 4</a></li>
                </ul>
            </li>
            <li><a href='#'>Featured</a></li>
            <li><a href='#'>Health</a></li>
        </ul>
    </div>
</div>

@functions {
    string title;
    string subtitle;

    protected override async Task OnInitAsync()
    {
        var profile = await Http.GetJsonAsync<Profile>("api/Global");
        title = profile.BlogTitle;
        subtitle = profile.Subtitle;
    }
}