@inject IJSRuntime JsRuntime
<div id="@id">
    <textarea id="textarea-@id" class="markdown-textbox" style="height: @(height)px" name="Content" placeholder="Markdown here...">@content</textarea>
</div>

@functions
{
    [Parameter] string id { get; set; }
    [Parameter] string content { get; set; }
    [Parameter] int height { get; set; } = 150;

    protected override async Task OnAfterRenderAsync()
    {
        EnableDragAndDropAsync();
    }

    private async Task EnableDragAndDropAsync()
    {
        await JsRuntime.InvokeAsync<object>("DropEnable");
    }
}